USER_LOGIN=ssawa
DOMAIN_NAME=ssawa.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user

WP_ADMIN_USER=ssawa_owner
WP_ADMIN_EMAIL=ssawa@example.com

WP_USER=ssawa_author
WP_USER_EMAIL=author@example.com
